*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

body{
    background-color:  #CCCCCC;
}

h1{
    height: 5rem;
    background-color: #081b31;
    color: #fff;
    line-height: 5rem;
    margin-bottom: 5rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rock:hover{
    background-color: #fda0bc;
    cursor: pointer;
}

#paper:hover{
    background-color: rgb(224, 160, 228);
    cursor: pointer;
}

#scissor:hover{
    background-color: rgb(159, 189, 241);
    cursor: pointer;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
  
.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 3rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
    margin-bottom: 3rem;
}

#user-score, #comp-score {
  font-size: 4rem;
}


.msg{
    background-color: #081b31;
    font-size: 2rem;
    display: inline-block;
    color: #fff;
    padding: 1rem;
    border-radius: 20px;
}

.resetbtn{
    margin-top: 2rem;
    background-color: #156d81;
    font-size: 2rem;
    display: inline-block;
    color: #fff;
    padding: 1rem;
    border-radius: 20px;

}